body {

	padding-top: 200px;
	background-color:white;
}


table {

	padding-top: 200px;
	text-align: center;
}

th{
	text-align: center;
}

form{

	width: auto;
    height: auto;
    padding: 50px;
   
    border: 10px 10px 10px  10px black;

}

header{
	background-color: black;
	color:white;
	font-style: verdana;
}

