<!DOCTYPE html>
<html>
<head>
  <title>OrderForm</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/bootstrap.css">
  <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
  <!--Link to include glyphicon in rails -->
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>
<!-- header and navbar tabs -->
<header>
<nav class="navbar navbar-inverse navbar-fixed-top"  role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
      	<a class="navbar-brand" id="cust" href="/customers">Customer</a>
          <a class="navbar-brand" id="prod" href="/products">Product</a>
            <a class="navbar-brand" id="ord" href="/orders">Order</a>
      </div>
    </div>
    </div>
</nav>
</header>


<div class="container">

<body>

<%= yield %>

</body>
</div>
</html>
